<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">        
            <form ng-submit="post()">
                <div class="input-group abouda-post-bar">
                    <input type="text" ng-model="postTextInput" class="form-control abouda-post-text" placeholder="What's on your mind?">                    

                    <div class="input-group-btn">                     
                        <span class="btn btn-file abouda-post-image">
                            <span><i class="glyphicon glyphicon-picture"></i></span>
                            <input ng-file-model="postPictureInput" type="file" accept="image/*">
                        </span>

                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex = "-1" style="border-radius: 0px !important;">                                
                            <span><i ng-class="selectedPostPrivacy['icon']"></i><span ng-bind="selectedPostPrivacy['title']"></span></span>
                            <span class = "caret"></span>
                        </button>                      
                        <ul class = "dropdown-menu">
                            <li class="dropdown-header">Post Privacy</li>                            
                            <li ng-repeat="postPrivacyItem in postPrivacy">
                                <a href="#{{location.path()}}" ng-click="switchPostPrivacy(postPrivacyItem)">
                                    <span class="glyphicon {{postPrivacyItem['icon']}}"></span>&nbsp;{{postPrivacyItem['title']}}
                                </a>
                            </li>                        
                        </ul>                                           
                        <button ng-click="post()" type="button" tabindex = "-1" class="btn btn-success ladda-button" data-style="expand-right" ladda="postSpinner" ng-click="post()">
                            <span ng-bind="postSpinnerLabel" class="ladda-label">Post</span>
                        </button>    
                    </div>                                       
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>            
        <div class="col-md-6">
            <div class="abouda-post-bar abouda-posts-container" ng-scrollbars>
                <div class="row" ng-repeat="post in client.homePosts" >
                    <div class="col-xs-1">
                        <div>
                            <a href="#/profile/{{post['user_id']}}">
                                <img class="abouda-post-author-img" ng-src="uploads/{{post['user_thumbnail']}}" >
                            </a>                        
                        </div>
                    </div>
                    <div class="col-xs-11" >
                        <div class=" abouda-post">                                                    
                            <div class="abouda-post-author">
                                <a href="#/profile/{{post['user_id']}}">{{post['user_name']}}</a>
                                <span class="abouda-post-privacy">&nbsp;
                                    <i ng-class="!post['public'] ? 'glyphicon glyphicon-lock':'glyphicon glyphicon-globe'"></i>
                                </span>
                                <span class="abouda-post-timestamp" am-time-ago="post['timestamp']"></span>
                            </div>
                            
                            <div class="abouda-post-content">
                                <ng-embed embed-data="post['text']" embed-options="embedPostOptions"></ng-embed>                                
                            </div>

                            <div ng-show="post['picture'] != null">
                                <img class="abouda-post-picture" ng-src="uploads/{{post['picture']}}">
                            </div>

                            <div class="abouda-post-likecomment">
                                <span>
                                    <a ng-click="likes(post['id'])" ng-show="post['likes_count'] != 0" href="#{{location.path()}}" ng-bind="post['likes_count']"></a>
                                    <span ng-show="post['likes_count'] != 0">&nbsp;</span>
                                    <a href="#{{location.path()}}" ng-click="like(post['id'], $index)" ng-style="{color: post['liked'] ? '#b80000':'#555'}"><i class="fa fa-heart">&nbsp;</i></a>
                                </span>
                                <!--                                
                                <span>
                                    <a ng-show="post['comments_count'] != 0" href="#{{location.path()}}" ng-bind="post['comments_count']"></a>
                                    <span ng-show="post['comments_count'] != 0">&nbsp;</span>
                                    <a href="#{{location.path()}}"><i class="fa fa-comments-o"></i></a>
                                </span>                                
                                -->
                            </div>

                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-md-3"></div>                  
    </div>
    <div class="modal fade" id="aboudaPostLikesModal" tabindex="-1" role="dialog" aria-labelledby="aboudaPostLikesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-register-label">People Who Like This</h3>                
                </div>
                <div class="modal-body" ng-scrollbars>
                    <div class="row" ng-repeat="like in client.postLikes">
                        <div class="col-xs-1">
                            <div ng-click="profile(like['user_id'])">
                                <a href="#{{location.path()}}">
                                    <img class="abouda-post-author-img" ng-src="uploads/{{like['user_thumbnail']}}" >
                                </a>                        
                            </div>
                        </div>
                        <div class="col-xs-9" style="margin-left: 10px;">                        
                            <div class="abouda-post-author">
                                <a ng-href="#{{location.path()}}" ng-click="profile(like['user_id'])">{{like['user_name']}}</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
