<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">        
            <form ng-submit="post()">
                <div class="input-group abouda-post-bar">
                    <input type="text" ng-model="postTextInput" class="form-control abouda-post-text" placeholder="What's on your mind?">                    

                    <div class="input-group-btn">                     
                        <span class="btn btn-file abouda-post-image">
                            <span><i class="glyphicon glyphicon-picture"></i></span>
                            <input ng-file-model="postPictureInput" type="file" accept="image/*">
                        </span>

                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex = "-1" style="border-radius: 0px !important;">                                
                            <span><i ng-class="selectedPostPrivacy['icon']"></i><span ng-bind="selectedPostPrivacy['title']"></span></span>
                            <span class = "caret"></span>
                        </button>                      
                        <ul class = "dropdown-menu">
                            <li class="dropdown-header">Post Privacy</li>                            
                            <li ng-repeat="postPrivacyItem in postPrivacy">
                                <a href="#{{location.path()}}" ng-click="switchPostPrivacy(postPrivacyItem)">
                                    <span class="glyphicon {{postPrivacyItem['icon']}}"></span>&nbsp;{{postPrivacyItem['title']}}
                                </a>
                            </li>                        
                        </ul>                                           
                        <button ng-click="post()" type="button" tabindex = "-1" class="btn btn-success ladda-button" data-style="expand-right" ladda="postSpinner" ng-click="post()">
                            <span ng-bind="postSpinnerLabel" class="ladda-label">Post</span>
                        </button>    
                    </div>                                       
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>            
        <div class="col-md-6">
            <div class="abouda-post-bar abouda-posts-container" ng-scrollbars>
                <div class="row" ng-repeat="post in client.homePosts" >
                    <div class="col-xs-1">
                        <div class="abouda-post-author-img">
                            <a href="#/profile/{{post['user_id']}}">
                                <img ng-src="{{post['user_thumbnail']}}" >
                            </a>                        
                        </div>
                    </div>
                    <div class="col-xs-11" >
                        <div class=" abouda-post">                                                    
                            <div class="abouda-post-author">
                                <a href="#/profile/{{post['user_id']}}">{{post['user_name']}}</a>
                                <span class="abouda-post-privacy">&nbsp;
                                    <i ng-class="!post['public'] ? 'glyphicon glyphicon-lock':'glyphicon glyphicon-globe'"></i>
                                </span>
                                <span class="abouda-post-timestamp" am-time-ago="post['timestamp']"></span>
                            </div>
                            
                            <div class="abouda-post-content">
                                <ng-embed embed-data="post['text']" embed-options="embedPostOptions"></ng-embed>
                                <!--<span ng-bind="post['text']"></span>-->
                            </div>

                            <div ng-show="post['picture'] != null">
                                <img class="abouda-post-picture" ng-src="{{post['picture'] ? 'img/' + post['picture'] : null}}">
                            </div>

                            <div class="abouda-post-likecomment">
                                <span><a href="#{{location.path()}}">6</a>&nbsp;<a href="#{{location.path()}}"><i class="fa fa-heart">&nbsp;</i></a></span>
                                <span><a href="#{{location.path()}}">6</a>&nbsp;<a href="#{{location.path()}}"><i class="fa fa-comments-o">&nbsp;</i></a></span>
                            </div>

                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-md-3"></div>                  
    </div>
</div>

